# Data Round-Trip

In [1]:
import pandas as pd

## CSV

Read the CSV file `large_countries_2015.csv`

In [2]:
df = pd.read_csv("data/large_countries_2015.csv")
df

       Unnamed: 0    population  fertility      continent
0      Bangladesh  1.609956e+08       2.12           Asia
1          Brazil  2.078475e+08       1.78  South America
2           China  1.376049e+09       1.57           Asia
3           India  1.311051e+09       2.43           Asia
4       Indonesia  2.575638e+08       2.28           Asia
5           Japan  1.265735e+08       1.45           Asia
6          Mexico  1.270172e+08       2.13  North America
7         Nigeria  1.822020e+08       5.89         Africa
8        Pakistan  1.889249e+08       3.04           Asia
9     Philippines  1.006994e+08       2.98           Asia
10         Russia  1.434569e+08       1.61         Europe
11  United States  3.217736e+08       1.97  North America

## Excel

* Write the data into an Excel file
* Read the data again

In [3]:
df.to_excel("data/output.xlsx")
df2=pd.read_excel("data/output.xlsx")
df2

    Unnamed: 0   Unnamed: 0.1  population  fertility      continent
0            0     Bangladesh   160995642       2.12           Asia
1            1         Brazil   207847528       1.78  South America
2            2          China  1376048943       1.57           Asia
3            3          India  1311050527       2.43           Asia
4            4      Indonesia   257563815       2.28           Asia
5            5          Japan   126573481       1.45           Asia
6            6         Mexico   127017224       2.13  North America
7            7        Nigeria   182201962       5.89         Africa
8            8       Pakistan   188924874       3.04           Asia
9            9    Philippines   100699395       2.98           Asia
10          10         Russia   143456918       1.61         Europe
11          11  United States   321773631       1.97  North America

## JSON - Java Script Object Notation

* Write the data into a JSON file
* Read the data again

In [4]:
df2.to_json('data/file.json', orient = 'split', compression = 'infer')
df3 = pd.read_json('data/file.json', orient ='split', compression = 'infer')

## SQL

Install the library SQLAlchemy:

In [5]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\master\anaconda3\lib\site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\master\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

WARNING: Ignoring invalid distribution -tatsmodels (c:\users\master\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\master\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\master\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\master\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\master\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\master\anaconda3\lib\site-packages)

Create a connection to a new SQLite database:

In [6]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///mydatabase.db')

Write the data into the database:

In [7]:
df

       Unnamed: 0    population  fertility      continent
0      Bangladesh  1.609956e+08       2.12           Asia
1          Brazil  2.078475e+08       1.78  South America
2           China  1.376049e+09       1.57           Asia
3           India  1.311051e+09       2.43           Asia
4       Indonesia  2.575638e+08       2.28           Asia
5           Japan  1.265735e+08       1.45           Asia
6          Mexico  1.270172e+08       2.13  North America
7         Nigeria  1.822020e+08       5.89         Africa
8        Pakistan  1.889249e+08       3.04           Asia
9     Philippines  1.006994e+08       2.98           Asia
10         Russia  1.434569e+08       1.61         Europe
11  United States  3.217736e+08       1.97  North America

In [8]:
df.to_sql('countries', con=db)

Check that a database file has been created in your current working directory:

In [9]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

Inspect the file that was created in a text editor. Do not spend more than 1-2 minutes on this.

*Dont worry if this is completely new to you. We will cover SQL later in the course*